form {
    width: 300px;
    margin: 0 auto;
}

input[type="file"] {
    display: none;
}

label {
    padding: 9px;
    background-color: #efe0ca;
    color: #001233;
    box-shadow: 2px 2px #001233;
    cursor: pointer;
}

input[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #efe0ca;
    color: #001233;
    box-shadow: 2px 2px #001233;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}